---
---
<div class="bg-yellow-500 text-black py-2 px-4 text-center text-sm font-medium">
  <span class="mr-1">&#9888;&#65039;</span>
  Lovely Jubbly Removals has closed. For Bristol removals, contact
  <a href="https://painlessremovals.co.uk" rel="nofollow" class="underline font-semibold hover:no-underline">
    Painless Removals
  </a>.
</div>
